<% provide(:title, "About") %>
<!DOCTYPE html>

  <html>
    <head>
      <title><%= yield(:title) %> | Dova Immobilien</title>
    </head>
      <body>

<div class="container_lutz">

  <div class="ludwig">
      <%= image_tag('Lutz.jpg', :title => 'Ludwig Fellmann', :height => '150', :width => '180', :class => 'ludwig-image') %>
      <p class="ludwig-title" style="background: white; text-align: center; width: 180px; font-weight: bold;">CEO: Ludwig Fellmann</p>
  </div>


  <div class="ludwig-text">

    <div class="history">
      <h4>Our History</h4>
          <p class="text">A company that has seen rapid growth in recent years due to a strategic vision and disciplined leadership. The first property of the Dova Immobilien portfolio was purchased some 25 years ago and has seen a steady expansion over the years with a primary focus on storage and business facilities. </p>
    </div>

    <div class="history">
      <h4>Our Vision</h4>
      <p class="text">The future of Dova lies in maintaing a governance of warehousing and storage facilities. We believe with the emergence of the digital age that storage and logistics will play a major role in all industries new and old. The requirement of future trade will be efficiency in all shapes and forms that is may come in.</p>
    </div>

    <div class="history">
      <h4>Our Promise</h4>
      <p class="text">Dova's commitment to expansion and meeting the business needs of companies today, tommorow and the years beyond</p>
    </div>

  </div>

</div>

      </body>
  </html>
