<% provide(:title, "About") %>
<!DOCTYPE html>

  <html>
    <head>
      <title><%= yield(:title) %> | Dova Immobilien</title>
    </head>
      <body>

      <h1>ABOUT</h1>

      <p>Find me in app/views/static_page/about.html.erb</p>

      </body>
  </html>
