<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>

  <head>
    <title><%= yield(:title) %> | Dova Immobilien</title>
  </head>

  <body>

    <div class="container_banner">
      <div class="row main-image">
        <div class="col-sm-12">

          <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images3.alphacoders.com/241/241557.jpg');">

            <div class="banner-content">
              <h1>Welcome to Dova Immobilien</h1>
              <h3>A company building for the future</h3>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container_image">
      <ul class="property-links" >
        <% Category.all.each do |category| %>
          <li class="property-image"><h4><%= category.name %></h4><%= link_to image_tag("building.jpg", :height => '95%', :width => '95%', :alt => "property", :class => "prop-link"), properties_path(category: category.name) %>
          </li>
        <% end %>
      </ul>
    </div>

  </body>
</html>








