<% provide(:title, "People") %>
<!DOCTYPE html>

  <html>
    <head>
      <title><%= yield(:title) %> | Dova Immobilien</title>
    </head>
      <body>

<div class="container_lutz">

  <div class="service">

    <div class="service-text"><h4>Ludwig Fellmann - CEO</h4>

      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Leo in vitae turpis massa sed elementum. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Eget est lorem ipsum dolor sit amet consectetur. Suspendisse sed nisi lacus sed. Scelerisque fermentum dui faucibus in ornare quam. Lectus quam id leo in vitae turpis massa. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Urna nunc id cursus metus aliquam eleifend mi in. In fermentum posuere urna nec tincidunt praesent semper feugiat.</br></br>

      Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Mattis vulputate enim nulla aliquet. Volutpat diam ut venenatis tellus in. Pharetra et ultrices neque ornare aenean euismod elementum nisi. Rhoncus urna neque viverra justo nec. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Praesent semper feugiat nibh sed pulvinar proin gravida. Eu ultrices vitae auctor eu. Consectetur adipiscing elit ut aliquam purus sit amet. Nibh praesent tristique magna sit amet. Ut ornare lectus sit amet. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Pretium nibh ipsum consequat nisl vel pretium lectus. Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Sed cras ornare arcu dui vivamus arcu.
      </p>

        <div class="contact-text">
          <p class="email-text">Email: ludwig.fellmann@gmail.com</p>
        </div>

    </div>
  </div>

  <div class="service">
    <div class="biene">
      <div class="service-text"><h4>Sabine Murat - Asset Manager</h4>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Leo in vitae turpis massa sed elementum. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Eget est lorem ipsum dolor sit amet consectetur. Suspendisse sed nisi lacus sed. Scelerisque fermentum dui faucibus in ornare quam. Lectus quam id leo in vitae turpis massa. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Urna nunc id cursus metus aliquam eleifend mi in. In fermentum posuere urna nec tincidunt praesent semper feugiat.</br></br>

        Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Mattis vulputate enim nulla aliquet. Volutpat diam ut venenatis tellus in. Pharetra et ultrices neque ornare aenean euismod elementum nisi. Rhoncus urna neque viverra justo nec. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Praesent semper feugiat nibh sed pulvinar proin gravida. Eu ultrices vitae auctor eu. Consectetur adipiscing elit ut aliquam purus sit amet. Nibh praesent tristique magna sit amet. Ut ornare lectus sit amet. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Pretium nibh ipsum consequat nisl vel pretium lectus. Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Sed cras ornare arcu dui vivamus arcu.
        </p>

          <div class="contact-text">
            <p class="email-text">Email: sabinemurat@dovaimmobilien.de</p>
          </div>

    </div>
  </div>
</div>

      </body>
  </html>
