

// +++++++ START OF MEDIA QUERIES MIN-WIDTH 600PX +++++++ //

@media (min-width: 600px) {


// ****** START OF ABOUT PAGE ***** //

.text {
  line-height: 150%;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


.text:hover {
  line-height: 157%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}


.service {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.service-image {
  flex: 1;
}


.service-text {
  flex: 1;
}


.service:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.countries-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.countries {
  flex: 1;
}


.message-image {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

// ******* END OF ABOUT PAGE ****** //

// +++++++ END OF MEDIA QUERIES MIN-WIDTH 600PX +++++++ //

}
